<div class="header-wrap">
  <h1 class="header f1 fw5 mt3 ml3 lh-title f3-s">DENNIS CAO — progressive and experimental composer and sound designer, los angeles <a class="email" href="mailto:denniscao@gmail.com" target="_top">denniscao@gmail.com</a></h1>
</div>
<div class="spacer">
    &nbsp;
</div>
<div class="center ph5-l">
<% @pages.each do |page| %>
  <div class="cf ph0-l mb2 bw1 bb b--black-90 pa3" >
    <div class="fl w-100 w-50-l pr2">
      <div class="bg-white pv2">
        <h1 class="title fw4 mt0"> <%= page.title %></h1>
        <p class="role f7 mt0 f5-l"> <span class="undline"><%= page.role %> </span></p>
        <p class="copy f7 f5-l"> <%= page.musicalProcess %> </p>
      </div>
    </div>
    <div class="fl w-100 w-50-l pl0">
      <div class="bg-white pv2">
        <div class="bw1 b--black-90 ml4 embed-container">
          <%= parse_markdown page.video %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
