@font-face {
  font-family: 'Akkurat Mono';
  src:font-url('AkkuratMono-Regular.eot');
  src:font-url('AkkuratMono-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('AkkuratMono-Regular.woff2') format('woff2'),
    font-url('AkkuratMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-bottom: 0;
}

body {
  font-family: arial;
  font-size: 19px;
  background:none transparent;
  background-color: white;
  color: black;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

iframe {
  width: 100%;
  height: 100%;
}

.cookiePolicy.sc-background-light {
  display: hidden;
}

span .true {
  display: none;
}

.title {
  line-height: 1;
  margin-bottom: 22px;
}

.copy {
  margin-top: 20px;
  font-family: monospace;
  font-size: 15px;
}

.role {
  margin-top: 20px;
  font-family: monospace;
  font-size: 15px;
}

.undline {
  padding-bottom: 3px;
  border-bottom: 1px solid black;
  line-height: 1.8;
}

.container {
  width: 100%;
}

.header {
  line-height: .9;
  margin-bottom: 20px;
}

.embed-container {
  margin-top: 5px;
  position: relative;
  padding-bottom: 56.45%;
  // padding-top: 10px;
  height: 0;
  overflow: hidden;
  max-width: 100%;

}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
